#footer p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
}
#footer p a {
  color: rgba(255, 255, 255, 0.5);
}
#footer p a:hover, #footer p a:active, #footer p a:focus {
  color: rgba(255, 255, 255, 0.9) !important;
  vertical-align: text-bottom;
}


body {
    /* background-image:url("https://media.giphy.com/media/10kxE34bJPaUO4/giphy.gif"); */
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
